/* Admin Readme */
#styles-font-menu-readme > ul {
	list-style-type: disc;
	margin-left: 30px;
}

/* Menu height */
.sfm .chosen-results {
	max-height: 400px !important;
}

/* Standard Font */
.sfm .sf {
	font-size: 48px;
	height:64px;
	line-height: 64px !important;
	white-space: nowrap;
}

/* Google Font */
.sfm .gf {
	 height:90px;
	 text-indent: -9999px;
	 overflow:hidden;
	 background-repeat: no-repeat;
}